mat-toolbar {
  position: fixed;
  height: 70px;
  background-color: #feffff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  & > a  {
    text-decoration: none;
    img {
      height: 60px;
    }
  }
  div:nth-child(3) {
    height: 100%;
    ul {
      list-style: none;
      height: 100%;
      li {
        height: 100%;
        text-align: center;
        a {
          display: flex;
          place-content: center;
          align-items: center;
          text-decoration: none;
          color: black;
          height: 46px;
        }
        &:hover {
          background-color: #eef1f1;
        }
        &.active {
          border-bottom: 3px solid black;
        }
      }
    }
  }
}

