mat-toolbar {
  height: 70px;
  background-color: #feffff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  & > a  {
    text-decoration: none;
    img {
      height: 60px;
    }
  }

  ul {
    list-style: none;
    li {
      text-align: center;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

