<mat-toolbar class="row">
  <a class="space_top" href="#">
    <img src="/assets/images/logos/net6.jpg" alt="">
  </a>
  <div class="offset-xs-8 ak-block ak-sm-none">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="container ak-none ak-sm-block">
    <ul class="row">
      <li class="col-3">
          <a href="#" class="nav-links">Inicio</a>
      </li>
      <li class="col-3">
        <a href="#" class="nav-links">Servicios</a>
      </li>
      <li class="col-3">
          <a href="#" class="nav-links">Nosotros</a>
      </li>
      <li class="col-3">
          <a href="#" class="nav-links">Contacto</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
